* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  color: #484848;
  text-decoration: none;
}
a:hover {
  color: #008a8a !important;
}
img {
  vertical-align: middle;
}
